

.at_top{
    background-image: url("https://i.postimg.cc/4x5rcwpz/tree-736885-1280-2.jpg");
    background-size: cover; /* This will make sure the background image covers the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    min-height: 600px; /* Set a minimum height for your section */
    padding: 4%;
    position: relative;
}

.my_list > li{
    list-style-type:none;
    display: inline;
}

.my_list > li > a{
    text-decoration: none;
    margin: 0 3%;
    color: white;
}

.italic{
    font-family: 'Dancing Script', cursive;
    color: gold;
    padding: 4%;
    vertical-align:middle;
    justify-content: center;
    text-align: center;
}

.big-font{
    font-size: 500%;
    margin: 0;
}

.in_the_middle{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: white;
}

.yellow-background{
    background-color: yellow;
    border-radius: 10px;
    color: black;
    vertical-align:middle;
    justify-content: center;
    text-align: center;
    padding: 10%;
}

.services {
    text-align: center; /* Center-align the content within the section */
    width: 100%;
    position: relative;
}

.services .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.services .col {
    max-width: 600px; /* Optional: Set a maximum width for the column */
    width: 100%;
    // margin: auto; /* Center-align the column within the container */
}

.gray-font{
    color: gray;
}

i{
    font-size: xx-large;
    color: gold;
    border: 4px;
    border-radius: 100%;
}

.circle-icon {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid gold; /* Adjust the color as needed */
    padding: 10px; /* Adjust the padding as needed */
}

.our-portfolio{
    position: relative;
}

.our-portfolio{
    text-align: center; /* Center-align the content within the section */
    width: 100%;
}

.our-portfolio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.our-portfolio .col {
    max-width: 600px; /* Optional: Set a maximum width for the column */
    width: 100%;
    // margin: auto; /* Center-align the column within the container */
}

.container .row span{
    display: block;
}

.container .row img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.some-margin{
    margin-bottom: 25px;
}